<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Institucional | SDE Deportes</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../static/css/institucional.css">
    <link rel="shortcut icon" href="../static/img/favicon-sde.png" type="image/x-icon">
</head>

<body>
    <header class="header">
        <nav>
            <div class="logo">
                <a href="{% url 'home' %}">
                    <img src="../static/img/favicon-sde.png" alt="logo" width="50px"></a>
            </div>
            <ul>
                <li><a href="{% url 'institucion' %}">INSTITUCION</a></li>
                <li><a href="{% url 'accounts:register' %}">REDEPSE</a></li>
                <li><a href="{% url 'contacto' %}">CONTACTO</a></li>
            </ul>
        </nav>
    </header>

    <main>

        <section id="hero">
            <div class="hero_content">
                <h1>Secretaria de Deportes de la Provincia de Santiago del Estero</h1>
            </div>
        </section>

        <section id="institucional">

            <div class="datos-institucion">
                <h2>Acerca de la Institución</h2>
                <hr>
                <h3>AUTORIDADES</h3>

                <div class="autoridad-institucion">

                    <div class="autoridad-card">
                        <div class="autoridad-img">
                            <img src="../static/img/profile_default.webp" alt="Autoridad Deportes" width="200px">
                        </div>
                        <div class="autoridad-info">
                            <h3>Carlos Dapello</h3>
                            <p>Secretario</p>
                        </div>
                    </div>

                    <div class="autoridad-card">
                        <div class="autoridad-img">
                            <img src="../static/img/profile_default.webp" alt="Autoridad Deportes" width="200px">
                        </div>
                        <div class="autoridad-info">
                            <h3>Guillermo Ríos</h3>
                            <p>Coordinador</p>
                        </div>
                    </div>

                </div>

                <hr>

                <div class="mision-institucion">
                    <h3>MISIÓN</h3>
                    <p>La Secretaria de Deportes de la Provincia de Santiago del Estero tiene como misión fomentar el
                        deporte, impulsar un estilo de vida saludable en toda la población y potenciar el desarrollo
                        social y la inclusión a través de la práctica deportiva. Con ese objetivo, busca acercar
                        diferentes propuestas a menores, adolescentes, jóvenes y adultos, y diseñar políticas públicas
                        para brindarle apoyo a deportistas de distintos niveles.</p>
                </div>

                <hr>

                <div class="funciones-institucion">
                    <h3>FUNCIONES</h3>
                    <p>La Secretaria de Deportes tiene como funciones promover y organizar actividades deportivas, así
                        como fomentar la participación ciudadana en el deporte.</p>
                    <ul>
                        <li>Planificar, implementar y supervisar políticas públicas deportivas.</li>
                        <li>Diseñar programas de apoyo para deportistas de todos los niveles.</li>
                        <li>Organizar actividades recreativas y competitivas para diferentes grupos etarios.</li>
                        <li>Articular con instituciones deportivas y organismos públicos para el desarrollo conjunto de
                            proyectos.</li>
                        <li>Gestionar recursos e infraestructura destinados al desarrollo del deporte en la provincia.
                        </li>
                        <li>Impulsar la participación de la comunidad en actividades físicas que promuevan la inclusión
                            y la vida saludable.</li>
                    </ul>
                </div>
            </div>

        </section>

        <section id="information">
            <h2>INFORMACIÓN ÚTIL</h2>
            <br>
            <p>¿Qué estás buscando?</p>
            <div class="information-cards">
                <a class="card" href="{% url 'contacto' %}">
                    <img src="../static/img/dark-phone.svg" alt="institucion">
                    <h3>CONTACTO</h3>
                </a>

                <a class="card" href="{% url 'accounts:register' %}">
                    <img src="../static/img/futbol.svg" alt="Registrar Escuela">
                    <h3>REGISTRAR ESCUELA</h3>
                </a>
            </div>
        </section>

    </main>

    <footer id="footer">

        <div class="footer">
            <div class="footer-img">
                <a href="../index.html"><img src="../static/img/favicon-sde.png"
                        alt="Logo Secretaría de Deportes"></a>
                <img src="../static/img/logo-sde.svg" alt="Santiago del Estero">
            </div>
            <div class="footer-datos">
                <div class="footer-social">
                    <h3>Seguinos en</h3>
                    <a target="_blank" href="https://www.google.com/"><img src="../static/img/instagram.svg"
                            alt="instagram"></a>
                    <a target="_blank" href="https://www.google.com/"><img src="../static/img/facebook.svg"
                            alt="facebook"></a>
                    <a target="_blank" href="https://www.google.com/"><img src="../static/img/x.svg" alt="x"></a>
                    <a target="_blank" href="https://www.google.com/"><img src="../static/img/youtube.svg"
                            alt="youtube"></a>
                </div>

                <p>Calle Ficticia 123, Ciudad Capital<img width="12px" src="../static/img/location.svg" alt=""></p>
                <p>(0385) 123-4567<img width="12px" src="../static/img/phone.svg" alt=""></p>
                <p>deportes@correo.gob.ar<img width="12px" src="../static/img/email.svg" alt=""></p>
            </div>
        </div>
        <div class="footer-copy">
            <p>&copy; 2025 Secretaría de Deportes de la Provincia de Santiago del Estero | Desarrollado por <a
                    href="https://github.com/juancruzvenier/redepse" target="_blank">alumnos del ITSE</a>.
            </p>
        </div>

    </footer>

    <script src="../static/js/blurryNav.js"></script>
</body>

</html>
