<nav class="bg-blue-600 text-white p-4 flex justify-between">
    <div>
        <a href="{% url 'registro:wizard' %}" class="mr-4">Registro Escuela</a>
        <a href="{% url 'registro:entrenadores' %}" class="mr-4">Entrenadores</a>
        <a href="{% url 'registro:alumnos' %}" class="mr-4">Alumnos</a>
        <a href="{% url 'registro:estado' %}" class="mr-4">Estado</a>
    </div>
    <div>
        {% if user.is_authenticated %}
            <span class="mr-4">Hola, {{ user.username }}</span>
            <a href="{% url 'accounts:logout' %}">Cerrar sesión</a>
        {% else %}
            <a href="{% url 'accounts:login' %}">Login</a>
        {% endif %}
    </div>
</nav>
